Delete later ---> {{ diagnostic }}
<br><br>
<!-- REGISTRATION FORM DIVISION-->
<div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">

        <!-- NAME INPUT -->
        <div>
            <label for="acName">Name</label>
            <input type="text" id="acName" class="form-control" minlength="4" required [(ngModel)]="model.name"
                name="acName" #name="ngModel">

            <!-- NAME VALIDATION -->
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                <div *ngIf="name.errors.required">
                    Name is required
                </div>
                <div *ngIf="name.errors.minlength">
                    Must be at least 4 characters long
                </div>
            </div>

        </div>

        <br>

        <!-- GENDER INPUT -->
        <div>
            <label for="acGender">Gender</label>
            <select class="form-control" id="acGender" [(ngModel)]="model.gender" name="acGender">
                <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
            </select>
        </div>

        <br>

        <!-- BALANCE INPUT -->
        <div>
            <label for="acBalance">Balance</label>
            <input type="number" id="acBalance" class="form-control" [(ngModel)]="model.balance" name="acBalance">
        </div>

        <br>

        <!-- BUTTONS -->
        <button type="button" class="btn btn-default" (click)="addAccount();userForm.reset()" [hidden]="!userForm.valid">Add Account</button>
        <button type="submit" class="btn btn-success" [disabled]="!userForm.valid">Submit</button>

    </form>
</div>

<!-- REVIEW SUBMIT DATA (TO BE DELETED)-->
<div [hidden]="!submitted">
    <div>
        <label>You submitted:</label>
    </div>
    <div>
        <label>Name : {{ model.name }}</label>
    </div>
    <div>
        <label>Gender : {{ model.gender }}</label>
        <div>
            <label>Balance : {{ model.balance }}</label>
        </div>
        <button class="btn btn-primary" (click)="submitted=false">Edit</button>
    </div>
</div>

    <br><br><br><br>

<!-- ACCOUNT LIST (WILL PROBABLY BE REPLACE BY LINQ) -->
<div [hidden]=!submitted>
    <table class="accTable">
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Balance</th>
        </tr>
        <tr *ngFor="let account of accountList">
            <td>{{account.name | prefixPipe : account.gender}}</td>
            <td>{{account.gender}}</td>
            <td>{{account.printAddress()}}</td>
            <td>{{account.printBalance() | currency:'INR'}}</td>
        </tr>
    </table>
</div>